<a href="https://colab.research.google.com/github/jscienciadados/etl-pandas/blob/main/Projeto_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Projeto - Ocorrencia de Acidentes de Aeronaves

In [ ]:
#!pip install pandera

Biblioteca

In [2]:
import pandas as pd
import pandera as pa

Carreaga os Dados e faz a limpeza.

In [3]:
valores_ausentes = ['**','###!','####','****','*****','NULL']
df = pd.read_csv("ocorrencia_2010_2020.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 9 columns]

##Validação dos Dados

In [4]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia": pa.Column(pa.Int),
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable=True),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)   
    }
)

In [5]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [6]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

##Transformação

In [7]:
# Busca pela localização
df.loc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
Name: 1, dtype: object

In [8]:
# Busca por indice
df.iloc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
Name: 1, dtype: object

In [9]:
df.iloc[-1]

codigo_ocorrencia                         79844
codigo_ocorrencia2                        79844
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       SBJR
ocorrencia_dia              2020-12-31 00:00:00
ocorrencia_hora                        13:24:00
total_recomendacoes                           0
Name: 5751, dtype: object

In [ ]:
df.tail()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,NaN,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [10]:
df.iloc[10:15]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
11              40069               40069  ...        14:50:00                   8
12              40414               40414  ...        03:00:00                   0
13              39507               39507  ...        17:00:00                   2
14              40107               40107  ...        14:30:00                   0

[5 rows x 9 columns]

In [11]:
df.loc[10:15]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
11              40069               40069  ...        14:50:00                   8
12              40414               40414  ...        03:00:00                   0
13              39507               39507  ...        17:00:00                   2
14              40107               40107  ...        14:30:00                   0
15              39315               39315  ...        21:22:00                   0

[6 rows x 9 columns]

In [12]:
df.loc[:,'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
5747    SP
5748    TO
5749    RJ
5750    MS
5751    RJ
Name: ocorrencia_uf, Length: 5752, dtype: object

In [13]:
df['ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
5747    SP
5748    TO
5749    RJ
5750    MS
5751    RJ
Name: ocorrencia_uf, Length: 5752, dtype: object

In [14]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [15]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

Criando um Filtro

In [16]:
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0

[1 rows x 9 columns]

In [17]:
filtro = df.ocorrencia_aerodromo.isnull()
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
3                 39527  ...                    0
5                 39807  ...                    0
7                 39707  ...                    3
9                 39711  ...                    0
...                 ...  ...                  ...
5741              79754  ...                    0
5744              79753  ...                    0
5745              79755  ...                    0
5748              79757  ...                    0
5750              79756  ...                    0

[2349 rows x 9 columns]

In [18]:
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
4100              78823  ...                    0

[1 rows x 9 columns]

In [19]:
df.count()

codigo_ocorrencia           5752
codigo_ocorrencia2          5752
ocorrencia_classificacao    5752
ocorrencia_cidade           5752
ocorrencia_uf               5751
ocorrencia_aerodromo        3403
ocorrencia_dia              5752
ocorrencia_hora             5751
total_recomendacoes         5752
dtype: int64

In [20]:
#ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
63                39992  ...                   11
326               42250  ...                   19
530               43471  ...                   11
727               44377  ...                   11
872               44796  ...                   23
884               44888  ...                   11
1062              45554  ...                   20
1972              47938  ...                   11
2795              52265  ...                   13
3930              66432  ...                   12

[10 rows x 9 columns]

In [21]:
#ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                   11
326         RIO DE JANEIRO                   19
530              SÃO PAULO                   11
727               ITÁPOLIS                   11
872                 RECIFE                   23
884   SÃO JOSÉ DOS PINHAIS                   11
1062            UBERLÂNDIA                   20
1972              BRASÍLIA                   11
2795                SANTOS                   13
3930               VITÓRIA                   12

In [22]:
#ocorrências cuja classificação == INCIDENTE GRAVE	
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
29                39709  ...                    2
35                39487  ...                    0
...                 ...  ...                  ...
5741              79754  ...                    0
5744              79753  ...                    0
5746              79769  ...                    0
5748              79757  ...                    0
5750              79756  ...                    0

[737 rows x 9 columns]

In [23]:
#Combinando filtros
#ocorrências cuja classificação == INCIDENTE GRAVE e o estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
136               40270  ...                    0
171               40620  ...                    0
219               41411  ...                    2
297               42289  ...                    0
314               42323  ...                    0
...                 ...  ...                  ...
5591              79540  ...                    0
5610              79566  ...                    0
5704              79739  ...                    0
5705              79705  ...                    0
5715              79718  ...                    0

[137 rows x 9 columns]

In [24]:
#ocorrências cuja classificação == INCIDENTE GRAVE ou o estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 | filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
11                40069  ...                    8
16                39809  ...                    0
...                 ...  ...                  ...
5744              79753  ...                    0
5746              79769  ...                    0
5747              79804  ...                    0
5748              79757  ...                    0
5750              79756  ...                    0

[1973 rows x 9 columns]

In [26]:
#ocorrências cuja (classificação == INCIDENTE GRAVE ou classificação == INCIDENTE) e o estado == SP
filtro1 = df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'ACIDENTE'])
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
11                40069  ...                    8
34                39322  ...                    2
37                39319  ...                    3
58                39275  ...                    3
61                41377  ...                    0
...                 ...  ...                  ...
5673              79669  ...                    0
5696              79692  ...                    0
5704              79739  ...                    0
5705              79705  ...                    0
5715              79718  ...                    0

[525 rows x 9 columns]

In [27]:
#ocorrências cuja cidade comecem com a letra C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
5661              79649  ...                    0
5663              79652  ...                    0
5680              79683  ...                    0
5696              79692  ...                    0
5747              79804  ...                    0

[825 rows x 9 columns]

In [28]:
#ocorrências cuja cidade terminam com a letra A
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
12                40414  ...                    0
15                39315  ...                    0
25                39772  ...                    0
26                39847  ...                    0
...                 ...  ...                  ...
5738              79787  ...                    0
5739              79749  ...                    0
5743              79824  ...                    0
5744              79753  ...                    0
5750              79756  ...                    0

[1556 rows x 9 columns]

In [29]:
#ocorrências cuja cidade terminam com os caracteres MA
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
15                39315  ...                    0
408               43062  ...                    1
688               44198  ...                    0
1035              51785  ...                    0
1377              45939  ...                    0
1401              46180  ...                    0
2099              49113  ...                    4
2102              48799  ...                    0
2655              51347  ...                    0
2855              52340  ...                    1
2966              52832  ...                    0
2997              52979  ...                    0
3040              52984  ...                    0
3092              53596  ...                    0
3157              53223  ...                    0
3171              53265  ...                    2
3189              53271  ...                    0
3682              65414  ...                    1
3725              65633  ...                    0
3881              66265  ...                    0
4229              77371  ...                    1
4311              77612  ...                    0
4574              78080  ...                    0
4986              78867  ...                    0
5070              78923  ...                    0
5080              78782  ...                    0
5405              79282  ...                    0
5440              79338  ...                    0
5474              79400  ...                    0

[30 rows x 9 columns]

In [30]:
#ocorrências cuja cidade contém (em qualquer parte do conteúdo) os caracteres MA ou AL
filtro = df.ocorrencia_cidade.str.contains('MA|AL')
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
5                 39807  ...                    0
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
17                39810  ...                    0
...                 ...  ...                  ...
5738              79787  ...                    0
5739              79749  ...                    0
5741              79754  ...                    0
5745              79755  ...                    0
5746              79769  ...                    0

[903 rows x 9 columns]

In [31]:
#ocorrências do ano de 2015
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2996              52992  ...                    3
2997              52979  ...                    0
2998              53073  ...                    0
2999              53074  ...                    0
3000              52976  ...                    6
...                 ...  ...                  ...
3462              60632  ...                    0
3463              60600  ...                    0
3464              60642  ...                    0
3465              60631  ...                    2
3466              60649  ...                    0

[471 rows x 9 columns]

In [32]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [33]:
#ocorrências do ano de 2015 e mês 12 e dias entre 3 e 8
filtro_ano = df.ocorrencia_dia.dt.year == 2015
filtro_mes = df.ocorrencia_dia.dt.month == 12
filtro_dia_inicio = df.ocorrencia_dia.dt.day > 2 
filtro_dia_fim = df.ocorrencia_dia.dt.day < 9
df.loc[filtro_ano & filtro_mes & filtro_dia_inicio & filtro_dia_fim]

      codigo_ocorrencia  ...  total_recomendacoes
3432              53575  ...                    0
3433              60637  ...                    0
3434              53625  ...                    3
3435              53626  ...                    1
3436              53628  ...                    1
3437              53629  ...                    0
3438              53631  ...                    0
3439              60636  ...                    0

[8 rows x 9 columns]

In [34]:
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' '  + df.ocorrencia_hora)

In [35]:
df.head()

   codigo_ocorrencia  ...  ocorrencia_dia_hora
0              40211  ...  2010-01-03 12:00:00
1              40349  ...  2010-01-03 11:05:00
2              40351  ...  2010-01-03 03:00:00
3              39527  ...  2010-01-04 17:30:00
4              40324  ...  2010-01-05 19:25:00

[5 rows x 10 columns]

In [36]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
ocorrencia_dia_hora         datetime64[ns]
dtype: object

In [37]:
#ocorrências do ano de 2015 e mês 12 e dias entre 3 e 8
filtro_ano = df.ocorrencia_dia_hora.dt.year == 2015
filtro_mes = df.ocorrencia_dia_hora.dt.month == 12
filtro_dia_inicio = df.ocorrencia_dia_hora.dt.day > 2 
filtro_dia_fim = df.ocorrencia_dia_hora.dt.day < 9
df.loc[filtro_ano & filtro_mes & filtro_dia_inicio & filtro_dia_fim]

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3432              53575  ...  2015-12-03 10:50:00
3433              60637  ...  2015-12-03 16:47:00
3434              53625  ...  2015-12-06 13:10:00
3435              53626  ...  2015-12-06 15:00:00
3436              53628  ...  2015-12-08 14:30:00
3437              53629  ...  2015-12-08 10:20:00
3438              53631  ...  2015-12-08 16:19:00
3439              60636  ...  2015-12-08 13:00:00

[8 rows x 10 columns]

In [38]:
filtro1 = df.ocorrencia_dia_hora >= '2015-12-03 11:00:00'
filtro2 = df.ocorrencia_dia_hora <= '2015-12-08 14:30:00'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3433              60637  ...  2015-12-03 16:47:00
3434              53625  ...  2015-12-06 13:10:00
3435              53626  ...  2015-12-06 15:00:00
3436              53628  ...  2015-12-08 14:30:00
3437              53629  ...  2015-12-08 10:20:00
3439              60636  ...  2015-12-08 13:00:00

[6 rows x 10 columns]

# Agrupamentos

In [39]:
#ocorrências do ano de 2015 e mês 03
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 3
df201503 = df.loc[filtro1 & filtro2]
df201503

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3086              53183  ...  2015-03-02 23:00:00
3087              53120  ...  2015-03-04 13:30:00
3088              53109  ...  2015-03-05 13:50:00
3089              53112  ...  2015-03-06 21:00:00
3090              53152  ...  2015-03-10 11:30:00
3091              53167  ...  2015-03-10 17:33:00
3092              53596  ...  2015-03-10 21:35:00
3093              53149  ...  2015-03-11 23:25:00
3094              53148  ...  2015-03-12 12:40:00
3095              53153  ...  2015-03-13 15:45:00
3096              53154  ...  2015-03-13 14:40:00
3097              53238  ...  2015-03-13 11:30:00
3098              53189  ...  2015-03-14 07:20:00
3099              53193  ...  2015-03-14 18:00:00
3100              53164  ...  2015-03-15 18:30:00
3101              53151  ...  2015-03-16 18:07:00
3102              53168  ...  2015-03-16 21:05:00
3103              53169  ...  2015-03-19 03:25:00
3104              53165  ...  2015-03-20 14:35:00
3105              53188  ...  2015-03-20 21:00:00
3106              53184  ...  2015-03-22 13:44:00
3107              53178  ...  2015-03-23 17:15:00
3108              53182  ...  2015-03-23 20:40:00
3109              53166  ...  2015-03-24 14:45:00
3110              53170  ...  2015-03-24 17:57:00
3111              53185  ...  2015-03-24 23:01:00
3112              53412  ...  2015-03-24 16:35:00
3113              53194  ...  2015-03-26 20:30:00
3114              53186  ...  2015-03-27 14:55:00
3115              53179  ...  2015-03-28 10:30:00
3116              53180  ...  2015-03-28 18:52:00
3117              53190  ...  2015-03-28 16:26:00
3118              53212  ...  2015-03-28 17:32:00
3119              53213  ...  2015-03-28 15:51:00
3120              53181  ...  2015-03-29 20:17:00
3121              53187  ...  2015-03-29 18:36:00
3122              53211  ...  2015-03-30 19:40:00

[37 rows x 10 columns]

In [40]:
df201503.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

In [41]:
df201503.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [42]:
df201503.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count()

ocorrencia_classificacao
ACIDENTE            5
INCIDENTE          14
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

In [43]:
df201503.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
dtype: int64

In [44]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values()

ocorrencia_classificacao
INCIDENTE GRAVE     5
ACIDENTE           15
INCIDENTE          17
dtype: int64

In [45]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

# Obtendo os dados das ocorrências na região sudeste

In [46]:
filtro1 = df.ocorrencia_dia.dt.year == 2010
filtro2 = df.ocorrencia_uf.isin(['SP','MG','ES','RJ'])
dfsudeste2010 = df.loc[filtro1 & filtro2]
dfsudeste2010

     codigo_ocorrencia  ...  ocorrencia_dia_hora
0                40211  ...  2010-01-03 12:00:00
2                40351  ...  2010-01-03 03:00:00
9                39711  ...  2010-01-10 20:00:00
11               40069  ...  2010-01-10 14:50:00
16               39809  ...  2010-01-15 15:00:00
..                 ...  ...                  ...
541              43722  ...  2010-12-23 11:00:00
544              43548  ...  2010-12-26 22:10:00
548              43724  ...  2010-12-29 12:00:00
550              43730  ...  2010-12-30 18:10:00
551              43975  ...  2010-12-30 14:28:00

[228 rows x 10 columns]

##Análise

In [47]:
dfsudeste2010.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [48]:
dfsudeste2010.count()

codigo_ocorrencia           228
codigo_ocorrencia2          228
ocorrencia_classificacao    228
ocorrencia_cidade           228
ocorrencia_uf               228
ocorrencia_aerodromo        127
ocorrencia_dia              228
ocorrencia_hora             228
total_recomendacoes         228
ocorrencia_dia_hora         228
dtype: int64

In [49]:
dfsudeste2010.groupby(['ocorrencia_uf', 'ocorrencia_classificacao']).size()

ocorrencia_uf  ocorrencia_classificacao
ES             INCIDENTE                    5
MG             ACIDENTE                     7
               INCIDENTE                   39
               INCIDENTE GRAVE              5
RJ             ACIDENTE                     9
               INCIDENTE                   52
               INCIDENTE GRAVE              4
SP             ACIDENTE                    24
               INCIDENTE                   74
               INCIDENTE GRAVE              9
dtype: int64

In [50]:
dfsudeste2010.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False)

ocorrencia_cidade
RIO DE JANEIRO           47
SÃO PAULO                33
GUARULHOS                18
BELO HORIZONTE           17
CAMPINAS                 13
MACAÉ                    12
CONFINS                   7
UBERLÂNDIA                5
VITÓRIA                   4
JUIZ DE FORA              4
SÃO JOSÉ DO RIO PRETO     3
SÃO JOSÉ DOS CAMPOS       3
MARÍLIA                   3
ARARAQUARA                2
MONTES CLAROS             2
CAMPOS DOS GOYTACAZES     2
DIVINÓPOLIS               2
IPATINGA                  2
ITANHAÉM                  2
JUNDIAÍ                   2
POÇOS DE CALDAS           2
RIBEIRÃO PRETO            2
SOROCABA                  2
UBERABA                   2
BAURU                     2
AREALVA                   2
BOITUVA                   1
BOCAINA                   1
BOM JESUS DO AMPARO       1
BOM JESUS DO GALHO        1
BEBEDOURO                 1
BRAGANÇA PAULISTA         1
BROTAS                    1
CAJOBI                    1
ARRAIAL DO CABO           1
CAMANDUCAIA               1
TIMÓTEO                   1
ARAÇATUBA                 1
CASIMIRO DE ABREU         1
SANTOS                    1
COROMANDEL                1
OLÍMPIA                   1
RESENDE                   1
POUSO ALEGRE              1
PIRASSUNUNGA              1
PIRACICABA                1
PIACATU                   1
PENÁPOLIS                 1
PARÁ DE MINAS             1
NOVO HORIZONTE            1
COSMÓPOLIS                1
MANGARATIBA               1
LINHARES                  1
SÃO BERNARDO DO CAMPO     1
ITÁPOLIS                  1
IPERÓ                     1
SERRA NEGRA               1
DIAMANTINA                1
AMERICANA                 1
dtype: int64

In [51]:
filtro1 = dfsudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
filtro2 = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro1 & filtro2]

     codigo_ocorrencia  ...  ocorrencia_dia_hora
119              40190  ...  2010-04-06 02:35:00
274              41750  ...  2010-07-12 19:53:00
326              42250  ...  2010-08-12 12:26:00

[3 rows x 10 columns]

In [52]:
filtro = dfsudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
dfsudeste2010.loc[filtro].total_recomendacoes.sum()

25

In [53]:
dfsudeste2010.groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum()

ocorrencia_aerodromo
SBAE     0
SBAQ     0
SBBH     0
SBBP     9
SBBU     0
SBCF     0
SBGL     3
SBGR     0
SBIP     0
SBJD     7
SBJR     3
SBKP     0
SBME     0
SBMK     0
SBML     0
SBMT    27
SBPC     0
SBPR     1
SBRJ    19
SBRP     0
SBSJ     0
SBSP     0
SBSR     0
SBUL     0
SBUR     0
SBVT     0
SDAM     0
SDOI     1
SDPW     0
SDPY     0
SNDT     0
SNDV     0
SNXT     0
NaN     45
Name: total_recomendacoes, dtype: int64

In [54]:
dfsudeste2010.groupby(['ocorrencia_cidade']).total_recomendacoes.sum()

ocorrencia_cidade
AMERICANA                 0
ARARAQUARA                0
ARAÇATUBA                 0
AREALVA                   0
ARRAIAL DO CABO           0
BAURU                     0
BEBEDOURO                 0
BELO HORIZONTE            2
BOCAINA                   0
BOITUVA                   1
BOM JESUS DO AMPARO       0
BOM JESUS DO GALHO        1
BRAGANÇA PAULISTA         9
BROTAS                    0
CAJOBI                    0
CAMANDUCAIA               9
CAMPINAS                  0
CAMPOS DOS GOYTACAZES     0
CASIMIRO DE ABREU         0
CONFINS                   0
COROMANDEL                0
COSMÓPOLIS                0
DIAMANTINA                0
DIVINÓPOLIS               0
GUARULHOS                 0
IPATINGA                  0
IPERÓ                     3
ITANHAÉM                  1
ITÁPOLIS                  0
JUIZ DE FORA              0
JUNDIAÍ                   7
LINHARES                  0
MACAÉ                     0
MANGARATIBA               0
MARÍLIA                   0
MONTES CLAROS             0
NOVO HORIZONTE            3
OLÍMPIA                   0
PARÁ DE MINAS             0
PENÁPOLIS                 0
PIACATU                   0
PIRACICABA                0
PIRASSUNUNGA              0
POUSO ALEGRE              0
POÇOS DE CALDAS           0
RESENDE                   8
RIBEIRÃO PRETO            0
RIO DE JANEIRO           25
SANTOS                    0
SERRA NEGRA               0
SOROCABA                  0
SÃO BERNARDO DO CAMPO     2
SÃO JOSÉ DO RIO PRETO     0
SÃO JOSÉ DOS CAMPOS       0
SÃO PAULO                41
TIMÓTEO                   3
UBERABA                   0
UBERLÂNDIA                0
VITÓRIA                   0
Name: total_recomendacoes, dtype: int64

In [55]:
filtro = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values()

ocorrencia_cidade
BOITUVA                   1
BOM JESUS DO GALHO        1
ITANHAÉM                  1
BELO HORIZONTE            2
SÃO BERNARDO DO CAMPO     2
IPERÓ                     3
NOVO HORIZONTE            3
TIMÓTEO                   3
JUNDIAÍ                   7
RESENDE                   8
BRAGANÇA PAULISTA         9
CAMANDUCAIA               9
RIO DE JANEIRO           25
SÃO PAULO                41
Name: total_recomendacoes, dtype: int64

In [56]:
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade', dfsudeste2010.ocorrencia_dia.dt.month]).total_recomendacoes.sum()

ocorrencia_cidade      ocorrencia_dia
BELO HORIZONTE         2                  1
                       3                  1
BOITUVA                7                  1
BOM JESUS DO GALHO     12                 1
BRAGANÇA PAULISTA      11                 9
CAMANDUCAIA            7                  9
IPERÓ                  1                  3
ITANHAÉM               9                  1
JUNDIAÍ                5                  5
                       6                  2
NOVO HORIZONTE         7                  3
RESENDE                4                  8
RIO DE JANEIRO         4                  3
                       7                  3
                       8                 19
SÃO BERNARDO DO CAMPO  1                  2
SÃO PAULO              1                  8
                       2                 14
                       6                  2
                       11                 6
                       12                11
TIMÓTEO                2                  3
Name: total_recomendacoes, dtype: int64

In [57]:
filtro1 = dfsudeste2010.total_recomendacoes > 0
filtro2 = dfsudeste2010.ocorrencia_cidade == 'SÃO PAULO'
dfsudeste2010.loc[filtro1 & filtro2]

     codigo_ocorrencia  ...  ocorrencia_dia_hora
11               40069  ...  2010-01-10 14:50:00
58               39275  ...  2010-02-10 09:03:00
63               39992  ...  2010-02-17 20:07:00
219              41411  ...  2010-06-08 19:30:00
469              43450  ...  2010-11-04 10:55:00
530              43471  ...  2010-12-14 20:15:00

[6 rows x 10 columns]